# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android build folders
/android/.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/build/
/android/local.properties

# iOS build folders
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Runner/GeneratedPluginRegistrant.*



# Windows build folders
/windows/runner
/windows/flutter/ephemeral

# Web build folders
# /build/web/
# .web/

# Linux and macOS build folders
/linux/flutter/ephemeral
/macos/Flutter/ephemeral

# Symbolication and Obfuscation
app.*.symbols
app.*.map.json

# Mac OS related
.DS_Store

**/generated_plugin_registrant.*